
body {
    font-family: "Aka Posse";
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Light gray background */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    background-size: cover;
    color: #ffffffd9;
    padding: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    text-size-adjust: 100px;
 
}

.navbar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.706);
    font-weight: bold;
    text-align: center;
    transition: text-color 0.3s, color 0.3s;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.244);
    transition: transform 0.3s;
    margin-right: 40px;
    margin-left: 40px; /* Added space between menu items */
    font-size: 23px; /* Increased font size */
}



.intro h1 {
    font-size: 48px; /* Larger heading */
    line-height: 1.5;
    margin-bottom: 20px;
}

.peperoni{
    display:flex;
}
.special-button {
    color:#ffffff;
    font-weight: bold;
    margin: 0 10px;
    padding: 10px 20px; /* Adjusted padding for all boxes */
    width: 190px; /* Set a specific width */
    text-align: center; /* Center the text */
    border-radius: 10px; /* Make it more oval */
    background-color: #981a1af4; /* Darker background color */
    display: inline-block; /* Make it a block element */
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.244);
    transition: transform 0.3s; /* Smooth transitions for both background color and text color on hover */
}
.special-button:hover {
    background-color: #d86227f4; /* Change background color on hover */
    color: #fff; 
    transform: scale(1.05); /* Slight scale on hover */
/* Change text color on hover */
}
.left{
 
    margin-left: 100px;
}
.product {
    display: flex;
    background-color: rgba(156, 202, 72, 0.553);
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    align-items: center; /* Center items vertically */
    border-radius: 20px;
}

.product img {
   
    margin-right: 20px; /* Add some spacing between image and text */
}

h1 {
    text-align: center; /* Center the text */
    margin: 0; /* Remove default margin */
    color: #fff;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	accent-color: lime;
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.wrapper {
	max-width: 75rem;
	width: 50%;
	padding: min(3rem, 5vw);
}

form {
	padding: 1.5rem;
	background-color: rgba(245, 245, 245);
	border-radius: 0.5rem;
}

legend {
	font-weight: 700;
}

fieldset > * + * {
	margin-top: 0.5rem;
}

form > * + * {
	margin-top: 1.5rem;
}

.form__group {
	display: flex;
	align-items: center;
}

input[type="checkbox"],
input[type="radio"]{
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.65rem;
}

input[type="range"],
progress {
	margin-left: auto;
	flex: 0 1 50%;
}

