<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>#</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="">
        <link rel="javascript" href="order_slideshow.java">
        <link rel="stylesheet" href="moreinfo.css">
     
    </head>
 <body>
    <header>
     <img src="mariospizzeriaLT4-removebg.png" width="300px" height="80px">
<nav class="navbar" width="100%">
     <a href="Restaurant.html">Home</a>
     <a href="Menu_customers.html">Menu</a>
     <a href="#">Reserve</a>
     <a href="#">Locations</a>
     <a href="order_menu.html" class="special-button" style="color:#fff;">Order now!</a>
     </header>
     <section class="product" width="100%" height="600px"> 
    
        <div class="left"><br><br>
            <img src="mouthwatering-strawberry-ice-cream-bowl-against-transparent-background_927015-1662.png" width="300px" height="300px">
        </div>
        <div class="right">
            <div class="name">
            <h1 style="font-size: xx-large;">Icecream</h1></div>
            <div class="price2">
        
                <h1 style="font-size: xx-large;">10,99$</h1></div>
           
        </div>
         
     </section>
     <div class="wrapper">
       
        <div class="grid">
            <form action="">
                <fieldset>
                    <legend>Choose your berries</legend>
                    <div class="form__group">
                        <input type="checkbox" id="berries_1" value="strawberries" name="berries">
                        <label for="berries_1">Strawberries</label>
                    </div>
                    <div class="form__group">
                        <input type="checkbox" id="berries_2" value="blueberries" name="berries">
                        <label for="berries_2">Blueberries</label>
                    </div>
                    <div class="form__group">
                        <input type="checkbox" id="berries_3" value="bananas" name="berries">
                        <label for="berries_3">Bananas (yes, they are berries)</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Choose your delivery preference</legend>
                    <div class="form__group">
                        <input type="radio" id="delivery_1" value="collect" name="delivery">
                        <label for="delivery_1">Collect in store</label>
                    </div>
                    <div class="form__group">
                        <input type="radio" id="delivery_2" value="home-delivery" name="delivery">
                        <label for="delivery_2">Home delivery</label>
                    </div>
                </fieldset>
    
                <div class="form__group">
                    <label for="progress">Order progress</label>
                    <progress id="progress" max="100" value="70">70%</progress>
                </div>
    
                <div class="form__group">
                    <label for="range">How satisfied are you with the service?</label>
                    <input type="range" min="0" max="10" value="5" id="range_a">
                </div>
            </form>
            
     

 </body>
</html>
