<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>#</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="">
       
        <link rel="stylesheet" href="{{ url_for('static', filename='Restaurant.css') }}">
     
    </head>

    <body>
       <header>
    <img src="{{ url_for('static', filename='mariospizzeriaLT4-removebg.png') }}" width="300px" height="80px">
    <nav class="navbar">
        <a href="Restaurant.html">Home</a>
        <a href="Menu_customers.html">Menu</a>
        <a href="#">Reserve</a>
        <a href="#">Locations</a>
        <a href="order_menu.html" class="special-button" style="color:#fff;">Order now!</a>
    </nav>
        </header>
        <section class="intro">
           
        <h1 style="color: rgb(255, 194, 40);">"Where should i eat today?"</h1>
            <h1>If that's a question you are asking yourself,
            <br> that is the place where you can look for the answear!
        </h1>
        <p>
           <br> Welcome to [Restaurant Name], where every pizza is a masterpiece of flavor and quality.
           <br> Our commitment to using the finest ingredients ensures a taste sensation in every bite.
           <br> Choose from our signature creations or customize your own for a truly unique experience.
           <br> Our warm, family-friendly atmosphere and impeccable service make every visit memorable.
           <br> Plus, we're dedicated to sustainability. Whether you dine in, take out, or have it delivered,
           <br> you're in for a treat. Come and savor the [Restaurant Name] difference today!

        </p>
    </section>
   
    </body>
</html>
